
html,
body{
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    scroll-behavior: smooth;
}

/*Para tirar o scroll bar da tela.*/
::-webkit-scrollbar {
    width: 0px;
}