.quem-somos {
    background-color: #fbfbfb;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.container div.texto {
    align-items: center;
    display: flex;
}

div.container div.texto p {
    text-align: center;
    margin-left: 18%;
    font-size: 27px;
    font-weight: 400;
    margin-top: 100px;
    max-width: 870px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.74);
}

div.container .cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}

div.container .cards .card1 , .card2 , .card3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 430px;
    height: 530px; 
    left: 14px;
    top: 300px;
    background: rgba(134, 65, 210, 0.37);
    box-shadow: inset 10px 10px 150px rgba(50, 35, 58, 0.71);
    border-radius: 17px;
    min-width: 350px;
}

div.container .cards .card1:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow:  10px 10px 30px rgba(54, 54, 54, 0.71);
}

div.container .cards .card2:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow:  10px 10px 30px rgba(54, 54, 54, 0.71);
}

div.container .cards .card3:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow:  10px 10px 30px rgba(54, 54, 54, 0.71);
}

div.container .cards .card1 p{
    max-height: 50px;
    margin-left: 0%;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    max-width: 230px;
    color: #363636;
}

div.container .cards .card2 p{
    margin-left: 0%;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    max-width: 230px;
    color: #363636;
}

div.container .cards .card3 p{
    max-height: 60px;
    margin-left: 4%;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    line-height: 30px;
    max-width: 230px;
    color: #363636;
}

div.container .cards .card1 h1 {
    font-size: 30px;
    color: #363636;
    font-weight: 600;
    letter-spacing: 1px;
}

div.container .cards .card2 h1 {
    font-size: 30px;
    color: #363636;
    font-weight: 600;
    letter-spacing: 1px;
}

div.container .cards .card3 h1 {
    font-size: 30px;
    color: #363636;
    font-weight: 600;
    letter-spacing: 1px;
}

@media only screen and (max-width: 1200px) {
    div.container div.texto p {
        margin-left: 15%;
    }
}


@media only screen and (max-width: 1120px) {
    div.container div.texto p {
        margin-left: 11%;
    }
}

@media only screen and (max-width: 1065px) {
    div.container .cards {
        flex-direction: column;
        margin-left: 0%;
    }


    div.container .cards .card1 , .card2 , .card3 {
        align-items: center;
        display: flex;
        flex-direction: column;
        min-width: 900px;
        height: 280px; 
        background: rgba(134, 65, 210, 0.37);
        box-shadow: inset 10px 10px 150px rgba(50, 35, 58, 0.71);
        margin-left: 20px;
        margin-bottom: 15px;
    }
    
    div.container .cards .card1 p{
        
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        line-height: 30px;
        max-width: 1000px;
        color: #363636;
    }

    div.container .cards .card2 p{
        max-height: 10px;
        margin-left: 0%;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        line-height: 30px;
        max-width: 1000px;
        color: #363636;
    }

    div.container .cards .card3 p{
        margin-left: 12%;
        font-size: 24px;
        font-weight: 300;
        text-align: left;
        line-height: 30px;
        max-width: 1000px;
        color: #363636;
    }
    
}


@media only screen and (max-width: 977px) {
    div.container div.texto p {
        margin-left: 6%;
    }
}


@media only screen and (max-width: 935px){
    div.container .cards {
        flex-direction: column;
        margin-left: 0%;
    }

    div.container .cards .card1 , .card2 , .card3 {
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: 430px;
        height: 530px; 
        left: 14px;
        top: 300px;
        background: rgba(134, 65, 210, 0.37);
        box-shadow: inset 10px 10px 150px rgba(50, 35, 58, 0.71);
        border-radius: 17px;
        min-width: 350px;
    }
    
    div.container .cards .card1 p{
        max-height: 50px;
        margin-left: 0%;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        line-height: 30px;
        max-width: 230px;
        color: #363636;
    }
    
    div.container .cards .card2 p{
        margin-left: 0%;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        line-height: 30px;
        max-width: 230px;
        color: #363636;
    }
    
    div.container .cards .card3 p{
        margin-left: 4%;
        font-size: 24px;
        font-weight: 300;
        text-align: left;
        line-height: 30px;
        max-width: 230px;
        color: #363636;
    }
}

@media only screen and (max-width: 375px) {
    div.container div.texto p {
        margin-left: 2.5%;
        max-width: 340px;
    }

    div.container .cards {
        flex-direction: column;
        margin-left: -5%;
    }

    div.container .cards .card1 , .card2 , .card3 {
        min-width: 300px;
    }

    div.container .cards .card1:hover {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
    
    div.container .cards .card2:hover {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
    
    div.container .cards .card3:hover {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}